@use '../../styles/mixins';
@use '../../styles/variaveis';

.mainVoluntario {
    padding: 4% 4%;

    .titulo {
        text-align: center;

        h1 {
            font-size: 3.75rem;
            font-weight: bold;
        }
        p {
            padding: 23px 0;
        }
    }

    .articles {
        @include mixins.articles;

        .article {
            @include mixins.article;
            max-width: 461px;
            min-width: 461px;

            h3 {
                font-size: 1.875rem;
                font-weight: bold;
            }
        }
    }
    
}

.formularioVoluntario {
    background-color: variaveis.$color-primary;
    padding: 5% 8%;

    h3 {
        font-size: 1.5rem;
        padding-bottom: 40px;
    }

    .formulario {
        background-color: variaveis.$color-white;
        padding: 40px 30px;

        fieldset {
            border: none;
            padding-top: 20px;

            legend {
                font-size: 1.125rem;
                font-weight: bold;
            }

            input, textarea {
                background-color: variaveis.$color-off-white;
                font-size: 1rem;
                padding: 14px 12px;
                border-radius: 10px;
                width: 100%;
            }

            textarea {
                height: 182px;
            }

            .nomeEmail {
                display: flex;
                flex: 1;
                gap: 3%;
                margin-bottom: 19px;
            }
        }

        .mensagem {
            margin-top: 34px;
        }

        .button {
            margin-top: 24px;
            text-align: center;
            
            legend {
                font-weight: normal;
            }

            button {
                @include mixins.button;
                border: none;
                background-color: variaveis.$color-primary;
                color: variaveis.$color-white;
            }
        }
    }
}