@use './variaveis';

@mixin button {
    padding: 20px 30px;
    border-radius: 11px;
    font-weight: 500;
    font-size: 20px;
    text-align: center !important;
}

@mixin article {
    border: 1px solid variaveis.$color-text-black;
    border-radius: 14px;
    padding: 44px 50px;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    
    p {
        margin-top: 30px;
        font-size: 1.25rem;
    }
}

@mixin articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media (max-width: variaveis.$breakpoint-tablet) {
        justify-content: center;;
      }
}

@mixin main {
    display: flex;
    align-items: center;

    img {
        margin-right: 8px;
    }

    .links {
        h1 {
            font-size: 1.125rem;
            font-weight: bold;
            text-shadow: none;
        }
    }
}