// =============================================================================
// VARIÁVEIS
// =============================================================================
// Cores
$color-primary: #00745A;
$color-text-black: #000;
$color-footer-bg: #0B0B0B;
$color-placeholder: #999999;
$color-white: #fff;
$color-light-gray: #E5E5E5;
$color-off-white: #F8F8F8;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1035px;
$breakpoint-header: 1350px;
$breakpoint-missao: 1547px;
$breakpoint-notebook: 1583px;