@use 'variaveis.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// =============================================================================
// RESET E CONFIGURAÇÕES GLOBAIS
// =============================================================================
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

// =============================================================================
// ESTILOS GERAIS
// =============================================================================
  
  h2 {
    font-size: 3.75rem;
    font-weight: bold;
}
  
  p {
    font-size: 1.438rem;
}