@use '../../styles/variaveis.scss';
@use '../../styles/mixins.scss';

// Primeira seção
.firstMain {
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  .mainTitle {
    display: flex;
    flex-direction: column;
    width: 560px;
    justify-content: space-between;

    h1 {
      font-size: 4.188rem;
      font-weight: bold;
      text-shadow: 0 4px 4px rgba($color: variaveis.$color-text-black, $alpha: 0.25);
    }

    p {
      font-size: 1.563rem;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 10px;
      margin-top: 100px;
      border-radius: 30px;
      background-color: variaveis.$color-light-gray;
      font-weight: bold;

      img {
        margin-right: 10px;
      }

      p {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }

    .buttons {
      display: flex;

      .linkVoluntario {
        @include mixins.button;
        background-color: variaveis.$color-primary;
        margin-right: 40px;
        color: variaveis.$color-white;
      }

      .linkAjuda {
        @include mixins.button;
        color: variaveis.$color-primary;
        border: 2px solid variaveis.$color-primary;
      }
    }
  }
}

// Seção Missão
.missao {
  background-color: variaveis.$color-primary;
  padding: 4% 4%;

  h2,
  p {
    color: variaveis.$color-white;
  }

  p {
    margin-top: 30px;
  }

  .articles {
    @include mixins.articles;

    article {
      @include mixins.article;
      color: variaveis.$color-white;
      border-color: variaveis.$color-white;
      max-width: 450px;
      min-width: 450px;
      
      h3 {
        font-size: 1.875rem;
        font-weight: bold;
      }
    }
  }
}

// Seção Impacto
.impacto {
  padding: 4% 4%;

  h2 {
    font-size: 3.75rem;
    font-weight: bold;
  }

  h3 {
    font-size: 3.125rem;
    font-weight: bold;
    color: variaveis.$color-primary;
    margin-top: 1rem;
  }

  p {
    margin-top: 30px;
  }

  .articles {
    @include mixins.articles;

    article {
      @include mixins.article;
      color: variaveis.$color-text-black;
      border-color: variaveis.$color-text-black;
      max-width: 317px;
      min-width: 317px;
    }
  }
}