@use '../../styles/variaveis.scss';
@use '../../styles/mixins.scss';


h1 {
    font-size: 67px;
}

p {
    font-size: 25px;
}

.firstMain {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;

  .mainTitle {
    display: flex;
    flex-direction: column;
    max-width: 557px;
    justify-content: space-between;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 244px;
      padding: 10px;
      margin-top: 100px;
      border-radius: 30px;
      background-color: variaveis.$color-light-gray;
      font-weight: bold;

      img {
        margin-right: 10px;
      }

      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

.buttons {
    display: flex;

    .linkVoluntario {
      @include mixins.button;
      background-color: variaveis.$color-primary;
      margin-right: 40px;
      color: white;
    }

    .linkAjuda {
      @include mixins.button;
      color: variaveis.$color-primary;
      border: 2px solid variaveis.$color-primary;
    }
}