@use '../../styles/variaveis.scss';
@use '../../styles/mixins.scss';

// Primeira seção
.firstMain {
  margin: 2% 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  background-image: url(../../assets/medico.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  @media (max-width: variaveis.$breakpoint-header) {
    background-image: none;
    text-align: center;
    justify-content: center;
  }
  

  .mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    max-width: 560px;
    min-height: 585px;
    //margin-right: 50px;

    h1 {
      font-size: 4.188rem;
      font-weight: bold;
      text-shadow: 0 4px 4px rgba($color: variaveis.$color-text-black, $alpha: 0.25);
    }

    p {
      font-size: 1.563rem;

      @media (max-width: variaveis.$breakpoint-header) {
        text-align: center;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 244px;
      height: 55px;
      padding: 10px;
      //margin-top: 4rem;
      border-radius: 30px;
      background-color: variaveis.$color-light-gray;
      font-weight: bold;

      @media (max-width: variaveis.$breakpoint-header) {
        margin: 100px auto 0 auto;
    }

      img {
        margin-right: 8px;
      }

      p {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }

    .buttons {
      display: flex;
      gap: 40px;

      .linkVoluntario {
        @include mixins.button;
        background-color: variaveis.$color-primary;
        color: variaveis.$color-white;
      }

      .linkAjuda {
        @include mixins.button;
        color: variaveis.$color-primary;
        border: 2px solid variaveis.$color-primary;
      }

      .linkVoluntario, .linkAjuda {
        display: flex;
        width: 100%;
        padding: 0 auto;
        text-align: center;
        justify-content: center;  
        align-items: center;
      }

      @media (max-width: variaveis.$breakpoint-header) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

// Seção Missão
.missao {
  background-color: variaveis.$color-primary;
  padding: 8% 5%;

  h2,
  p {
    color: variaveis.$color-white;
  }

  p {
    margin: 30px 0;
  }

  .articles {
    @include mixins.articles;
    flex: 3;
    //justify-content: center;

    article {
      @include mixins.article;
      color: variaveis.$color-white;
      border-color: variaveis.$color-white;
      max-width: 450px;
      
      h3 {
        font-size: 1.875rem;
        font-weight: bold;
      }
    }
  }
}

// Seção Impacto
.impacto {
  padding: 8% 5%;

  h2 {
    font-size: 3.75rem;
    font-weight: bold;
  }

  h3 {
    font-size: 3.125rem;
    font-weight: bold;
    color: variaveis.$color-primary;
    margin-top: 1rem;
  }

  p {
    margin: 30px 0;
  }

  .articles {
    @include mixins.articles;

    article {
      @include mixins.article;
      color: variaveis.$color-text-black;
      border-color: variaveis.$color-text-black;
      max-width: 317px;
      min-width: 215px;
    }
  }
}