@use '../../styles/variaveis.scss';

header {
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid variaveis.$color-text-black;
    .mainHeader {
        font-weight: bold;
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
        }
    }

    nav {
        display: flex;
        align-items: center;

        .linkHome {
            margin-right: 20px;
            font-weight: 500;
        }

        .linkVoluntario {
            background-color: variaveis.$color-primary;
            padding: 20px 30px;
            border-radius: 11px;
            color: white;
            font-weight: 500;
        }
    }
}

.links, .linkHome, .linkVoluntario {
    text-decoration: none;
    color: variaveis.$color-text-black;
}
