@use '../../styles/variaveis.scss';
@use '../../styles/mixins';
@use 'sass:color';

header {
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid variaveis.$color-text-black;
    .mainHeader {
        @include mixins.main;
        .links {
            color: variaveis.$color-text-black;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 1;

        .linkHome {
            @include mixins.button(none, variaveis.$color-text-black, variaveis.$color-light-gray);
            margin-right: 30px;

            @media (max-width: variaveis.$breakpoint-mobile) {
                display: none;
              }
        }

        .linkVoluntario {
            @include mixins.button(variaveis.$color-primary, variaveis.$color-white,  color.adjust(variaveis.$color-primary, $lightness: -10%));

            &:hover,
            &:focus {
              // Corrigido: usando color.adjust() em vez de darken()
              background-color: color.adjust(variaveis.$color-primary, $lightness: -10%);
              outline: none;
            }
            

            @media (max-width: variaveis.$breakpoint-mobile) {
                display: none;
              }
        }
    }
}
