@use '../../styles/mixins';
@use '../../styles/variaveis';

footer {
    background-color: variaveis.$color-footer-bg;
    color: variaveis.$color-white; 

    h3 {
        font-size: 1rem;
        padding-bottom: 16px;
    }
    
    p {
        font-size: 0.875rem;
    }
}

.footerCima {
    display: flex;
    justify-content: space-around;
    padding: 2.7% 10%;
}

.footerMain {
    .titulo {
        @include mixins.main;
        margin-bottom: 16px;
        .links {
            h1 {
                color: variaveis.$color-white;
                font-size: 1rem;
            }
        }
    }
}

.contato {
    margin: 0 17px;
    .linkRedes {
        .card {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
        
            img {
                margin-right: 8px;
            }
        }
    }
}

.social {

    .linkRedes {
        display: flex;
        flex-direction: column;

        a {
            margin-bottom: 8px;
            text-decoration: none;
            color: variaveis.$color-white;
        }
    }
}

.legenda {
    text-align: center;
    padding: 2% 10%;
    border-top: 1px solid variaveis.$color-text-black;
}